.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  /* border-bottom: 1px solid #f9f9f9; */
}
.header__img {
  object-fit: contain;
  height: 40px;
}
.header__icon {
  padding: 20px;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo > h3 {
  font-size: 25px;
  font-wight: bolder;
  color: #f56244;
  margin-left: 5px;
}
